.filters-panel {
  margin-bottom: 1rem;
}

.search-btn {
  width: 5rem;
}

.wrapper {
  padding-bottom: 1rem;
}

.ad {
  height: 25rem;
 img {
   height: 10rem;
 }
}

.card-title {
  height: 2.8rem;
}

.card-text {
  height: 2rem;
  span {
    margin-right: 0.5rem;
  }
}
